body {
    background-color: rgba(255, 228, 196, 0.555);
}

img {
    width: 350px;
    height: 250px;
    border: 1px ridge #000;
    margin: 20px 100px;
    border-radius: 60px;
    border-width: thick;
    border-color: purple;
    
}

h1 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
    letter-spacing: 6px;
    text-align: center;
    color: purple;
    text-shadow: 1px 1px 2px pink;
}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: lighter;
}

hr {
    border-style: solid;
    border-width: thick;
    color:purple;
}

h3 {
    color: rgb(255, 115, 0);
    letter-spacing: 2px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rebeccapurple;
}

ul {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rebeccapurple;
}

p.contact {
    text-indent: 20px;
    font-size: smaller;
}